@-ms-viewport { width: device-width; }
html,body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0;}
body{font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; background: #fff; font-size: 14px; color: #585858;}
a:hover,a:focus{text-decoration: none; color: #2d3091;}
.clear { clear: both; }
.flyer-template-hdr {
   width: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4a4dc1+0,2e3194+100 */
    background: #4a4dc1; /* Old browsers */
    background: -moz-linear-gradient(top,  #4a4dc1 0%, #2e3194 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #4a4dc1 0%,#2e3194 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #4a4dc1 0%,#2e3194 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a4dc1', endColorstr='#2e3194',GradientType=0 ); /* IE6-9 */
    padding: 22px 0px 15px 0px;
    border-bottom: 3px solid #00adee;
}
.flyer-template-hdr .navbar {
    margin: 0;
    min-height: 0;
}
.flyer-template-hdr nav  .navbar-nav li {
    margin: 0;
    padding: 0px;
    list-style-type: none;
    float: left;
    position: relative;
}
.flyer-template-hdr nav .navbar-nav  li  a {
    border-right: 1px solid #686ac0;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
}
.flyer-template-hdr nav .navbar-nav  li  a:hover {
    background: #fff;
    color: #32359a;
}
.real-estate-header nav  .navbar-nav li.active  a {
    background: #fff;
    color: #32359a;
}
.flyer-template-hdr nav  .navbar-nav  li:last-child  a {
    border-right: 0px;
}
.flyer-template-hdr .navbar-nav {
    float: right;
}
.flyer-template-content {
    background: #e8e8e8;
    padding: 30px 0;
    min-height: calc(100vh - 111px);
}
.logo-flyer {
    margin-bottom: -28px;
}
.flyer-template-content .property-list .property-hdr { 
    color: #fff;
    background: #00adee;
    padding: 12px 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 18px;
}
.flyer-template-content .property-list-content {
    background: #fff;
    padding: 20px;
    float: left;
    width: 100%;
}
.flyer-divider {
    border-bottom: 2px solid #ddd;
    width: 100%;
    margin: 15px 0;
    float: left;
}
.lh30 {
    line-height: 30px;
}
.lh25 {
    line-height: 25px;
}

.flyer-template-content .property-list-content .property-img {
    width: 100%;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
    max-width: 370px;
}
.flyer-template-content .property-list-content .property-img img{ 
    max-width: 100%;
}
.flyer-template-content .property-list-content .property-img-tagline {
    font-weight: 700;
    margin: 20px 0 0 0;
    font-size: 15px;
}

.property-listing {
    padding-bottom: 20px;
    width: 100%;
    float: left;
}
.property-listing h4{
    color: #00adee;
    font-weight: 600;
    font-size: 16px;
}
.property-listing ul {
  display: flex;
  flex-wrap: wrap;  
}
.property-listing ul li{ 
    list-style-type: none;
    width: 33%;
    margin-top: 15px;
    position: relative;
    padding: 0 15px;
}
.property-listing ul li img{ 
    position: absolute;
    left: 0;
    top: 4px;
}
.listing-adress {
    width: 100%;
    float: left;
}
.listing-adress li{
    width: 33%;
    float: left;
    list-style-type: none;
    margin-top: 5px;
}
.listing-adress h4{
    color: #00adee;
    font-weight: bold;
    font-size: 16px;
}
.listing-adress p a{
    color: #585858;
}
.footer-flyer {
    float: left;
    width: 100%;
    padding: 10px 0;
    background: #585858;
    color: #fff;
    text-align: center;
}
.separator-rt {
    border-right: 1px solid #ddd;
}
.separator-lt {
    border-left: 1px solid #ddd;
}
.property-name {
    line-height: 25px;
}

.unit-features {
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
.unit-features .property-listing {
    padding: 20px 0;
}
.photo-gallery {
    width: 100%; float: left;
}
.photo-gallery h4{
    color: #00adee;
    font-weight: 600;
    font-size: 16px;
}
.photo-gallery ul li{
    width: 19%;
    border: 1px solid #DDD;
    padding: 5px;
    border-radius: 5px;
    float: left;
    margin: 1% 1% 0 0;
    list-style-type: none;
}
.photo-gallery ul li img{ max-width: 100%;}

.flyer-template-content .property-list .property-hdr-black {
    background: #737373;
}
.grid-design {
    display: flex;
    flex-wrap: wrap;
}
.grid-design .property-name {
    width: 50%;
}
.grid-design .property-name:nth-child(even) {
    background: #e8e8e8;
    padding: 7px 10px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
}
.grid-design .property-name:nth-child(odd) {
    background: #f2f2f2;
    padding: 7px 10px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
}  
.grid-design .property-name label {
    color: #4c4fc3;
    float: left;
}
.grid-design .property-name span {
    float: left;
}
.pr-none {
    padding-right: 0;
}
.pl-none {
    padding-left: 0;
}

.multi-color-design .multi:nth-child(even) {
    background: #e8e8e8;
}
.multi-color-design .multi:nth-child(odd) {
    background: #f2f2f2;
}
.multi-color-design {
    margin-top: 20px;
    width: 100%;
    float: left;
}
.multi-color-design .multi {
    border-bottom: 2px solid #fff;
    padding: 15px;
}
.multi-color-design .multi h4{ color: #4c4fc3; }


/*** Responsive Css Start ***/
@media screen and (max-width: 767px) {

.flyer-template-hdr .navbar-header .navbar-toggle{
    margin-top: 0;
}
.flyer-template-hdr .navbar-header .navbar-toggle .fa{
    color: #fff;
    font-size: 25px;
}
.flyer-template-hdr nav .navbar-nav li {
    width: 100%;
    display: block;
}
.flyer-template-hdr nav .navbar-nav li a {
    border-right: 0;
    border-bottom: 1px solid #686ac0;
    padding: 8px 0px;
}
.flyer-template-hdr nav .navbar-nav li:last-child a {
    border-bottom: 0;
}
.photo-gallery ul li {
    width: 32%;
}

}